{% extends 'base.html' %}
{% block title %}Pomodoro Timer Home{% endblock %}
{% block content %}
<style>

    #pomodoro {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f4f4f4;
    }
    h2 {
        color: #333;
    }

    #timer {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px auto;
        max-width: 300px;
    }

    #countdown {
        font-size: 24px;
        font-weight: bold;
        color: #e44d26;
    }

    #event {
        font-size: 34px;
        font-weight: bold;
        color: #221d1c;
    }

</style>



<h1>Home</h1>
<body id="pomodoro">
    <h2>Pomodoro Timer</h2>
    <div id="timer">
        <h3 id="event">{{ data.name }}</h3>
        <h2>Time Remaining:</h2>
        <div id="countdown">
            {{ data.minutes|stringformat:"02d" }} : {{ data.seconds|stringformat:"02d" }}
        </div>
    </div>
    <button onclick="startTimer()">Start</button>
    <button onclick="stopTimer()">Pause</button>
    <button onclick="resetTimer()">Restart</button>
    <script>
        let timerEnabled;
        var initialMinutes = parseInt(document.getElementById('countdown').textContent.split(':')[0]);
        var initialSeconds = parseInt(document.getElementById('countdown').textContent.split(':')[1]);
        var minutes;
        var seconds;
        var cycle = 1;
        function updateTimer() {
            minutes = parseInt(document.getElementById('countdown').textContent.split(':')[0]);
            seconds = parseInt(document.getElementById('countdown').textContent.split(':')[1]);

            if (seconds > 0) {
                seconds--;
            }
            else {
                if (minutes > 0) {
                    minutes--;
                    seconds = 59;
                }
            }
            document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;

            if ((minutes == 0) && (seconds == 0)) {
                endTimer();
                cycle += 1;
            }
        }
        function startTimer() {
            if (!timerEnabled) {
                timerEnabled = setInterval(updateTimer, 1000);
            }
        }
        function stopTimer() {
            clearInterval(timerEnabled);
            timerEnabled = null;
        }
        function resetTimer() {
            stopTimer();
            // 15-Minute Break
            if ((cycle % 7 == 0)) {
                minutes = 15;
                seconds = 0;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
            }
            // Pomodoro Segment
            else if ((cycle % 2 == 0)) {
                minutes = initialMinutes;
                seconds = initialSeconds;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
            }
            // 5-Minute Break
            else {
                minutes = 5;
                seconds = 0;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
            }
        }

        function endTimer() {
            stopTimer();
            // Going to extended break after 4 Pomodoro segments
            if ((cycle % 7 == 0)) {
                minutes = 15;
                seconds = 0;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
                alert("Enjoy an extra 15-minutes to your break! You've earned it!");
            }
            // Going from break to Pomodoro
            else if ((cycle % 2 == 0)) {
                minutes = initialMinutes;
                seconds = initialSeconds;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
                alert("Time to work!");
            }
            // Going from Pomodoro to Break
            else {
                minutes = 5;
                seconds = 0;
                document.getElementById('countdown').textContent =
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
                alert("Time for a 5-minute break! Go stretch and take a rest!");
            }
            stopTimer();
        }
    </script>
</body>
<!-- Contact Form -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Task</button>
</form>
<!-- Success Message -->
{% if success %}
<p><strong>Success!</strong> The Task has been successfully added.</p>
<!-- Display Added Contact -->
<h3>Contact Added</h3>
<p>
  <strong>Name:</strong> {{ added_task.name }} <br />
  <strong>Segment:</strong> {{ added_task.segment }}
</p>
{% endif %}
{% endblock %}