{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Pomodoro Timer Manager</title>
  </head>
  <body>
    <div>
      <h1>Welcome to the Pomodoro Timer Manager</h1>
      <h2>What exactly is a Pomodoro Timer?</h2>
      <p>
        A Pomodoro Timer is a time management method that breaks down work into
        25-minute intervals. After each interval, you take a 5-minute break.
        After every 4 work interval, you take a longer 15 to 30 minute break.
      </p>
      <p>This application allows you to:</p>
      <ul>
        <li>Set a Pomodoro Timer.</li>
        <li>Create tasks that you have to complete and the number of interval it would
          take to finish.</li>
        <li>Search for specific tasks using their name or interval.</li>
        <li>Edit and delete specific tasks that you've created</li>
      </ul>
      <p>Click below to get started:</p>
      <a href="{% url 'home_page' %}">Go to Timer</a>
    </div>
  </body>
</html>